<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdms.dao.ReplyGroupTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.gdms.model.ReplyGroupTeacher" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, tid, gid
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from reply_group_teacher-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from reply_group_teacher-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.gdms.model.ReplyGroupTeacher" >-->
    <!--insert into reply_group_teacher (id, tid, gid)-->
    <!--values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, #{gid,jdbcType=INTEGER})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.gdms.model.ReplyGroupTeacher" >-->
    <!--insert into reply_group_teacher-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="tid != null" >-->
        <!--tid,-->
      <!--</if>-->
      <!--<if test="gid != null" >-->
        <!--gid,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="tid != null" >-->
        <!--#{tid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="gid != null" >-->
        <!--#{gid,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.gdms.model.ReplyGroupTeacher" >-->
    <!--update reply_group_teacher-->
    <!--<set >-->
      <!--<if test="tid != null" >-->
        <!--tid = #{tid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="gid != null" >-->
        <!--gid = #{gid,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.gdms.model.ReplyGroupTeacher" >-->
    <!--update reply_group_teacher-->
    <!--set tid = #{tid,jdbcType=VARCHAR},-->
      <!--gid = #{gid,jdbcType=INTEGER}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>